# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# Virtual environment
venv/
*.pyc
__pycache__/

# Logs / cache
_logs/
cache/
_backup/

# Node
node_modules/

# Env
.venv/
.env

reports/*.pdf
reports/dashboard_*.html

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
